<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">


    <select v-model="selected">
      <option value="all">전체</option>
      <option value="continue">진행중</option>
      <option value="completed">완료</option>
    </select>
    <input type="text" v-model="todo">
    <button @click="addTodoList">+</button>
    <p>{{select}} </p>
    <button>완료된 할 일 지우기</button>
    <ul>
      <li>

      </li>
    </ul>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        selected: 'all',
        todo: '',
        allinput: [],


      },
      computed: {


      },
      methods: {
        addTodoList() {

        }
      },

    })
  </script>
</body>

</html>